.idea/workspace.xml
.idea/misc.xml
.idea/Management.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
app/__pycache__/views.cpython-310.pyc
app/__pycache__/views.cpython-310.pyc
